
TrabajoPractico/.vs/TrabajoPractico/v16/.suo
TrabajoPractico/.vs/TrabajoPractico/v16/Server/sqlite3/db.lock
TrabajoPractico/.vs/TrabajoPractico/v16/Server/sqlite3/storage.ide
TrabajoPractico/.vs/TrabajoPractico/v16/Server/sqlite3/storage.ide-wal
TrabajoPractico/.vs/TrabajoPractico/v16/Server/sqlite3/storage.ide
